<H1><%= render partial: "shared/homeicon"%>Mark and Milo Milestones</H1>

<div>
    This is a application designed to streamline the proccess of buying and delivering food to people 
    who are immuno compromised and cannot safly go grocery shopping.
</div>
<br>
<%= button_to "Homepage", home_path, method: "get" %>

