<H1><%= render partial: "shared/homeicon"%>Welcome to the DC food delivery Homepage</H1>

<%= button_to "About Us", about_path , method: "get" %>
<br>
<%= button_to "register as a customer", new_customer_path, method: "get" %>
<br>
<%= button_to "register as a shopper", new_shopper_path, method: "get" %>